@use "sass:map";

.entry-list-container {
    padding-top: 12px;
    border-right: 2px solid map.get($theme-colors, "secondary");
    height: calc( 100vh - 56px );
}

.entry-input {
    margin-bottom: 18px;
}

.entry-scrollarea {
    margin-top: 18px;
    max-height: calc( 100vh - 148px );
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 8px;
    }
    
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: map.get($theme-colors, 'secondary'); 
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: $scrollbar-hover; 
    }
}

